@page "/Account/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row d-lg-flex justify-content-center mt-lg-5">
    <div class="col-lg-6">
        <h1>@ViewData["Title"]</h1>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
           
            <div class="input-group mb-3">
                <div class="d-flex w-100">
                    <label asp-for="Input.FirstName" class="input-group-text rounded-3" id="basic-addon1">First Name</label>
                    <input asp-for="Input.FirstName" type="text" autocomplete="firstname" aria-required="true"
                           class="form-control rounded-3" aria-label="firstname" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>

            </div>


            <div class="input-group mb-3">
                <div class="d-flex w-100">
                    <label asp-for="Input.LastName" class="input-group-text rounded-3" id="basic-addon2">Last Name</label>
                    <input asp-for="Input.LastName" type="text" autocomplete="lastName" aria-required="true"
                           class="form-control rounded-3" aria-label="lastName" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>

            </div>

            <div class="input-group mb-3">
                <div class="d-flex w-100">
                    <label asp-for="Input.Email" class="input-group-text rounded-3" id="basic-addon3">Email</label>
                    <input asp-for="Input.Email" type="email" autocomplete="Email" aria-required="true"
                           class="form-control rounded-3" aria-label="Email" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>


            <div class="input-group mb-3">
                <div class="d-flex w-100">
                    <label asp-for="Input.Password" class="input-group-text rounded-3" id="basic-addon3">Password</label>
                    <input asp-for="Input.Password" type="password" autocomplete="new-password" aria-required="true"
                           class="form-control rounded-3" aria-label="new-password" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <div class="d-flex w-100">
                    <label asp-for="Input.ConfirmPassword" class="input-group-text rounded-3" id="basic-addon3">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true"
                           class="form-control rounded-3" aria-label="new-password" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @*
            <div class="form-floating mb-3">
            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="A First Name like: Ali" />
            <label asp-for="Input.FirstName">FirstName</label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="A Last Name like: Tamim" />
            <label asp-for="Input.LastName">LastName</label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>



            <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            *@

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-secondary">Register</button>
        </form>
    </div>
@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
*@</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
